Redirect /metacity/patch.html /2005/03/11/metacity-window-placement-patch/
Redirect /metacity/ /2009/06/02/changing-metacity-s-window-placement-behavior/
Redirect /metacity/xfwm4.html /2007/06/05/replacing-metacity-with-xfce-xfwm4/
